@import "reset.css";

/* general */
body {
    background: url(images/bg.jpg) repeat-x;
    background-color: #c6c4bc;    
}
p {
    font: normal 16px/22px Georgia, "Times New Roman", serif;
    color: #f1f1f1;
}
h6 {
    word-break: keep-all;
    font:  14px/50px Helvetica, Arial;
    color: white;
}
#bgimage {
    margin: 0 auto;
    background: url(images/bgfront.jpg) no-repeat center top;
    width: 1024px; min-height: 756px;
}
#page_wrapper {
    width: 960px;
    margin: 0 auto;
}
.innershadow {
   color: #5a5a5a;
   -moz-box-shadow:inset 0 0 30px #000000;
   -webkit-box-shadow:inset 0 0 30px #000000;
   box-shadow:inset 0 0 30px #000000;
}
.outershadow {
  -moz-box-shadow: 2px 3px 14px #5b5b5b;
  -webkit-box-shadow: 2px 3px 14px #5b5b5b;
  box-shadow: 2px 3px 14px #5b5b5b;
}

/* header */
#header {
    position: relative;
    height: 150px; width: 100%;
    display: block;
}
#logo {
    display: block;
    height: 150px; width: 300px; 
    float: left; 
    cursor: pointer;
}
ul#topnav {
    list-style: none;
    float: left;
    width: 500px;
    margin: -32px auto auto 400px; padding: 0px;
}
    ul#topnav li a {
        display: block;
        width: 100px;
        text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; 
        text-decoration: none;
        letter-spacing: 2px;
        font: bold 16px/12px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial;
        color: #7bb9ad;
        float: left;
    }
        ul#topnav li a:hover, ul#topnav li a:active, ul#lang li a:hover, ul#lang li a:active { color: white; }
        
ul#lang {
    list-style: none;
    float: right;
    margin: 25px auto; padding: 0px;    
}   
    ul#lang li a {
        display: block;
        width: 50px;
        text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; 
        text-decoration: none;
        letter-spacing: 2px;
        font: bold 14px/22px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial;
        color: #8ed5ca;
        float: right;
    } 

/* main style */
#main {
    width: 610px; min-height: 350px;
    float: left;
}
#intro {
    margin-top: 50px; 
    width: 600px; height: 250px;
}
    #intro img {
        float: left;
        overflow-y: visible;
        z-index: 30 !important;  
        
    }
    #introtext {
        padding: 30px; 
        float: left;
        width: 380px; height: 170px;
        clear: both; 
    }
    
#gallery {
    border: 1px solid #828282;
    position: relative;
    margin-top: -190px;
    background: url(images/frame.jpg) repeat-x;
    width: 610px; height: 343px;
    float: left;
    clear: both;
}
    #gallery img {
        width: 512px; height: 297px;
        margin: 20px auto;
        display: block;
        border: 1px solid #5c5c5c;
    }
#content {
    position: relative;
    min-height: 400px;
}
#katse {
    width: 100px; height: 150px;
    background-color: red;
    position: absolute;
    top: -20px;
}
.column {
    width: 280px; height: 540px;
    float: left;
    background-color: fuchsia;
    margin-right: 10px;
}

/* sidecol style */
#sidecol {
    width: 330px; min-height: 350px;
    float:left;
    top: 150px;
    background-color: aqua;
}

/* footer style */
#footer {
    margin: auto auto 0;
    border-top: 1px solid #228932;
    background: url(images/green.jpg) repeat;
    height: 50px;
    text-align: center;
}
