/* general */
body {
    background: url(images/bg.jpg) repeat-x;
    background-color: #c6c4bc; 
    height: 100%;   
}
p { font-family: 'New York', 'Times New Roman', "Times", serif; }
    p.white { font-size: 17px; font-weight: 100; line-height: 22px; color: #e9e9e9; }
    p.dark { font-size: 16px; line-height: 22px; color: #3e454f; }

h6 { font: normal 14px/18px 'calibri', Helvetica, Arial; }
    h6.footer { color: #c6c4bc; line-height: 80px; }
    h6.pink { color: #f4a1a1; }

#bgimage {
    margin: 0 auto;
    background: url(images/bgfront.jpg) no-repeat center top;
    width: 1024px; height: 756px;
    padding-bottom: 80px;
}
#page_wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;

}
#kodu li.kodu a, #kodu li.kodu a:hover,
#leib li.leib a, #leib li.leib a:hover,
#lust li.lust a, #lust li.lust a:hover,
#album li.album a, #album li.album a:hover,
#veski li.veski a, #veski li.veski a:hover
{ color: white; font-size: inherit; }

/* header */
#header {
    position: relative;
    height: 150px; width: 100%;
    display: block;
}
#logo {
    display: block;
    height: 150px; width: 300px; 
    float: left; 
    cursor: pointer;
}
ul#topnav {
    list-style: none;
    float: left;
    width: 500px;
    margin: -32px auto auto 400px; padding: 0px;
}
    ul#topnav li a {
        display: block;
        width: 100px;
        text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; 
        text-decoration: none;
        letter-spacing: 2px;
        font: bold 16px/12px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial;
        color: #84afa0;
        float: left;
    }
ul#language {
    list-style: none;
    float: right;
    margin: 25px auto; padding: 0px;
}
    ul#language li a {
        display: block;
        width: 50px;
        text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; 
        text-decoration: none;
        letter-spacing: 2px;
        font: normal 14px/22px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial;
        color: #b8d9cd;
        float: right;
    }

/* main style */
#main {
    width: 610px; min-height: 500px;
    float: left;
    position: relative;
}
#intro {
    margin: 60px auto auto 0px;
    width: 400px; height: 250px;
}
    #introtext {
        padding: 30px; 
        float: left;
        width: 380px; height: 170px;
        clear: both;
    }
* html png-ie { display: none; }

#screen {
    position: relative;
    width: 515px; height: 290px;
    border: 1px solid #62646a;
    -moz-box-shadow:inset 0 0 30px #000000;
    -webkit-box-shadow:inset 0 0 30px #000000;
    box-shadow:inset 0 0 30px #000000;
    z-index: 10;
}

.outershadow {
    -moz-box-shadow: 2px 3px 18px #000000;
    -webkit-box-shadow: 2px 3px 18px #000000;
    box-shadow: 2px 3px 18px #000000;
        }
#content {
    position: relative;
    min-height: 400px;
}

.column {
    width: 300px; min-height: 540px;
    float: left;
    margin: 50px 5px 50px auto;
}
    .column span { font-weight: bold; color: #84afa0; }

/* sidecol style */
#sidecol {
    width: 331px; min-height: 396px;
    float:right;
    top: 150px;
}
#mill {
    background: url(images/veskipilt.jpg) no-repeat;
    height: 367px; width: 328px;
}
#map {
    background: url(images/map.jpg) no-repeat center top;
    width: 606px; height: 409px;
    float: left;
    position: absolute;
    margin: 340px auto auto 0;
}
#postcard {
    background: url(images/postkaart.jpg) no-repeat;
    width: 561px; height: 356px;
    float: left;
    position: absolute;
    margin: 370px auto auto 400px;
    clear: both;
}
#facebook { 
    height: 120px; width: 120px; 
    float: right; 
    margin: 0 auto auto 300px; 
    display: block;   
}
#contact_form {
    width: 250px;
    margin: 0 auto auto 300px;
}
input,
textarea {
    background-color: transparent;
    border: dotted 1px;
}
#submit_btn:active,
input:focus, 
textarea:focus {
    background-color: white; opacity: 0.6; filter:alpha(opacity=60);
}
label {
    font: normal 14px/18px 'calibri', Helvetica, Arial; 
}
label.error { font-size: small; color: red; }


/* footer style */
#footer {
    margin: 60px auto 10px;
    width: 100%;
    background-color: #340403;
    height: 80px;
    text-align: center;
    position: relative;
    float:left;
}
#footerwrapper {
    background: url(images/footpic.jpg) no-repeat center top;
    margin: auto auto 0 auto;
    height: 80px;
    z-index: 20;
}

ul#topnav li a:hover,
ul.week li a:hover { font-size: larger; }

ul#topnav li a:hover,
ul#language li a:hover { color: #d2ebe2; }

ul#topnav li a:active,
ul#language li a:active { color: white; }

ul.week li a:hover,
ul.week li a:active,
ul.week li a:active hover { color: #facbcb; }

li.active a { color:white !important; }
